:root {
	--color-dark-green: #495e57;
	--color-yellow: #f4ce14;
	--color-light: #edefee;
	--color-orange: #ee9972;
	--font-karla: "Karla", sans-serif;
	--font-markazi: "Markazi Text", serif;
}

/* ----------------------------------- */
/* ------------- GENERAL ------------- */
/* ----------------------------------- */

html {
	font-size: 16px;
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-karla);
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
main {
	flex: 1;
}

.container {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 1.25rem;
}

@media (min-width: 768px) {
	.container {
		width: 640px;
	}
}
@media (min-width: 1024px) {
	.container {
		width: 960px;
	}
}

h2 {
	color: var(--color-yellow);
	font-family: var(--font-markazi);
	font-size: 3.5rem;
	margin: 0;
}

h3 {
	color: var(--color-light);
	font-family: var(--font-markazi);
	font-size: 2rem;
	margin: 0;
}

p {
	margin: 0;
}

button,
.button {
	background-color: var(--color-yellow);
	border: none;
	border-radius: 0.75rem;
	color: var(--color-dark-green);
	cursor: pointer;
	font-family: var(--font-karla);
	font-size: 1.25rem;
	font-weight: 700;
	padding: 1rem 2rem;
	text-decoration: none;
	width: fit-content;
}

button:hover,
.button:hover {
	background-color: #f7d700;
}

button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

/* ---------------------------------- */
/* ------------- HEADER ------------- */
/* ---------------------------------- */

header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 1.25rem 0;
}

header .logo {
	width: 200px;
}

header button {
	padding: 0;
	background: none;
}

header button:hover {
	background: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
	header .logo {
		width: 130px;
	}
}

/* ------------------------------------ */
/* ------------- MAIN NAV ------------- */
/* ------------------------------------ */

.main-nav {
	display: none;
}
.main-nav nav ul {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	list-style: none;
}

.main-nav nav ul li a {
	color: #333;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
}

.main-nav nav ul li a:hover {
	text-decoration: underline;
}

.hamburger-menu {
	display: block;
}

@media (max-width: 767px) {
	.main-nav.menu-open {
		background-color: var(--color-light);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		border-left: 1px solid rgba(0, 0, 0, 0.1);
		border-right: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 0 0 0 1rem;
		display: block;
		padding: 2rem;
		position: absolute;
		right: 0;
		text-align: right;
		transition: all 1s ease;
		top: 0;
	}
}

@media (min-width: 768px) {
	.hamburger-menu {
		display: none;
	}

	.main-nav {
		display: block;
		position: relative;
	}

	.main-nav nav ul {
		flex-direction: row;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.main-nav nav ul {
		font-size: 0.8rem;
		gap: 1rem;
	}
}

/* ---------------------------------- */
/* ------------- FOOTER ------------- */
/* ---------------------------------- */

footer {
	background-color: #dedede;
	color: var(--color-dark-green);
	width: 100%;
}

footer .footer-inner {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1.25rem 0;
}

footer img {
	display: inline;
	max-height: 150px;
}

footer .footer-nav {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	text-align: center;
}

footer .footer-nav ul {
	list-style: none;
	padding: 0;
}

footer .footer-nav ul li {
	padding: 0.5rem;
}

footer a {
	color: var(--color-dark-green);
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

footer .address {
	color: var(--color-dark-green);
	margin-top: 1rem;
	line-height: 2;
	text-align: center;
}

@media (min-width: 768px) {
	footer .footer-inner {
		align-items: flex-start;
		flex-direction: row;
	}
	footer img {
		max-height: 200px;
	}
	footer .footer-nav ul {
		flex-direction: row;
		text-align: left;
	}
}

/* ---------------------------------- */
/* ------------- MAIN --------------- */
/* ---------------------------------- */

main {
	margin-bottom: 2.5rem;
}

/* ---------------------------------- */
/* ------------- HERO --------------- */
/* ---------------------------------- */

.hero {
	background-color: var(--color-dark-green);
	padding: 1.25rem 0;
}

.hero .hero-inner {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.hero .description {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.hero .description p {
	color: var(--color-light);
	font-size: 1.25rem;
	line-height: 1.5;
	text-align: center;
}

@media (min-width: 768px) {
	.hero .hero-inner {
		align-items: flex-start;
		gap: 2rem;
		flex-direction: row;
		justify-content: space-between;
	}
	.hero .hero-inner > div {
		position: relative;
		width: calc(50% - 2rem);
	}

	.hero .description {
		align-items: flex-start;
	}
	.hero .description p {
		text-align: left;
	}
	.hero img {
		position: absolute;
		right: 0;
	}

	.hero .description {
		gap: 2.5rem;
	}
}

/* ------------------------------------ */
/* ------------- SPECIALS ------------- */
/* ------------------------------------ */

.specials .intro {
	align-items: center;
	display: flex;
	margin-top: 6rem;
	justify-content: space-between;
}

.specials .intro h2 {
	color: var(--color-dark-green);
	font-size: 3.5rem;
	margin: 0;
}

.specials .specials-list {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 2rem auto;
}

@media (min-width: 1024px) {
	.specials .specials-list {
		flex-direction: row;
		justify-content: space-between;
	}
}

.specials .specials-list .special {
	background-color: var(--color-light);
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	margin: 0 0 2rem;
	width: 100%;
}

@media (min-width: 768px) {
	.specials .specials-list .special {
		width: 320px;
	}
}

@media (min-width: 1024px) {
	.specials .specials-list .special {
		margin-bottom: 0;
		width: 290px;
	}
}

.specials .specials-list .special img {
	border-radius: 1rem 1rem 0 0;
}

.specials .specials-list .special .description {
	padding: 1rem;
}

.specials .specials-list .special .description .title-row {
	display: flex;
	justify-content: space-between;
	margin: 1rem 0 1.5rem 0;
}

.specials .specials-list .special .description .title-row span {
	font-size: 1.5rem;
	font-weight: 600;
}

.specials .specials-list .special .description .title-row span.price {
	color: var(--color-orange);
}

.specials .specials-list .special .description {
	font-size: 1rem;
	line-height: 1.4s;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.specials .specials-list .special .description a {
	color: black;
	display: flex;
	font-weight: 600;
	items-align: center;
	gap: 0.5rem;
	padding: 1rem 0 0;
	text-decoration: none;
}

.specials .specials-list .special .description a:hover {
	text-decoration: underline;
}

/* ---------------------------------------- */
/* ------------- TESTIMONIALS ------------- */
/* ---------------------------------------- */

.testimonials {
	background-color: var(--color-light);
	padding: 2rem 0;
	width: 100%;
}

.testimonials .testimonial-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.testimonials .testimonial-inner h2 {
	color: var(--color-dark-green);
}

.testimonials .testimonials-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2rem;
	margin-top: 2rem;
	justify-content: center;
}

@media (min-width: 1024px) {
	.testimonials .testimonials-list {
		flex-wrap: nowrap;
	}
}

.testimonials .testimonial {
	background-color: white;
	border-radius: 1rem;
	padding: 1rem;
	width: 185px;
}

.testimonials .testimonial img {
	border-radius: 50%;
	max-width: 60px;
}

.testimonials .testimonial .name-row {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	margin-bottom: 1rem;
}

.testimonials .testimonial .name-row .name-column {
	display: flex;
	flex-direction: column;
}

.testimonials .testimonial .name-row .name-column .rating-row {
	align-items: center;
	display: flex;
	margin-top: 0.25rem;
}

.testimonials .testimonial .comment {
	text-transform: italic;
}

/* ---------------------------------- */
/* ------------- ABOUT -------------- */
/* ---------------------------------- */

.about {
	padding: 2rem 0;
}

.about .about-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

@media (min-width: 1024px) {
	.about .about-inner {
		flex-direction: row;
		justify-content: space-between;
		gap: 2rem;
	}
}

.about .about-inner img {
	border-radius: 2rem;
	max-width: 100%;
}

@media (min-width: 1024px) {
	.about .about-inner img {
		max-width: 40%;
	}
}

/* ---------------------------------- */
/* ------------- BOOKING ------------ */
/* ---------------------------------- */

.booking-form {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	min-width: fit-content;
}

.booking {
	align-items: center;
	display: flex;
	flex-direction: column-reverse;
	gap: 3rem;

	.input-group {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		label,
		span {
			font-weight: 600;
		}

		select {
			width: fit-content;
			padding: 10px 20px;
		}

		.button-selector {
			align-items: center;
			display: flex;
			gap: 1rem;

			button {
				align-items: center;
				border-radius: 50%;
				color: white;
				display: flex;
				font-size: 1.5rem;
				font-weight: 700;
				height: 2.25rem !important;
				justify-content: center;
				padding: 0;
				width: 2.25rem !important;

				&:disabled {
					background-color: #ccc;
					cursor: not-allowed;
				}
			}

			span {
				font-size: 1.25rem;
			}

			img {
				border-radius: 1rem;
				max-width: 200px;
			}
		}
	}

	.error {
		color: red;
		font-size: 0.9rem;
	}
}

@media (min-width: 768px) {
	.booking {
		align-items: flex-start;
		flex-direction: row;
		width: 100%;
	}

	.booking-form {
		align-items: flex-start;
		width: 50%;
		min-width: 40%;
	}

	.booking-image-container {
		width: 60%;
	}

	.booking-image-container img {
		max-width: 100%;
	}
}

.booking-slot-container {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.booking-slot {
	display: inline;
	padding: 3px 5px;
	border-radius: 0;
	font-size: 1rem;
	font-weight: 600;

	&.selected {
		color: var(--color-light) !important;
		background-color: var(--color-dark-green);
	}
}
